
.navbar{
    height: 64px;
    width: 1380px;
    background:#242d3a;
    position: fixed;    
}
.navbarimg{
    position: relative;
    background: url('../img/logo_AQM.png') no-repeat;
    padding: 90px;
    width: 60px;
    height: 60px;
    top:95px;
    left: 7px;
    color: #cccccc;
    font-family: clearsans;
}

.navbartri{
    position: relative;
    left: 230px;
    bottom: 55px ;
    width: 0; 
    height: 0; 
    border-left: 20px solid #242d3a;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    font-size: 1px;
}

.recuadro{
    position: relative;
    width: 800px;
    height: 50px;
    background: #000000;
    opacity: 20%;
    left: 230px;
    bottom: 15px;
    border-radius: 4px;
}

.reportestexto{
    position: relative;
    height: 3px;
    left: 270px;
    bottom: 94px;
    color: #ffffff;
    font-weight: normal;
    border-radius: 3px;
    font-family: crearsans;
}
.dashboard{
    position: relative;
    bottom:123px ;
    left:840px;
    width: 24px;
    height: 24px;
    background: #5d9aff;
    border-radius: 2px;
}

.dashboardicono{
    position: relative;
    top: 2px;
    right: 36px;
    padding: 8px;
    background-size: 6px;
    background: url('../../icons/ic_dashboard.svg') no-repeat;
}

.dashboardtexto{
   position: relative;
   bottom: 20px;
   right:  12px;
   color: #ffffff;
   font-weight: normal;
   font-family: crearsans;
}
.dashboard ul{
    list-style-type: none;
    display: inline;
}



.reportescubo{ 
    position: relative;
    left: 915px;
    bottom: 147px;
    width: 24px;
    height: 24px;
    background: #161b23;
    border-radius: 2px;
}

.reportesicono{
    position: relative;
    right: 36px;
    top: 4px;
    padding: 8px;
    background: url('../../icons/ic_reports.svg') no-repeat;
}

.reportestexto1{
    position: relative;
    bottom: 20px;
    right:  8px;
    color: #ffffff;
    font-weight: normal;
    font-family: crearsans;
}

.reportescubo ul{
    list-style-type: none;
    display: inline;
}



.catalogo{
    position: relative;
    left: 980px;
    bottom: 170px;
    width: 24px;
    height: 24px;
    background: #161b23;
    border-radius: 2px;
}

.catalogoicono{
    position: relative;
    right: 36px;
    top: 4px;
    padding: 8px;
    background: url('../../icons//ic_catalogo.svg') no-repeat;
}

.catalogotexto{
    position: relative;
    bottom: 20px;
    right:  10px;
    color: #ffffff;
    font-weight: normal;
    font-family: crearsans;
}
.catalogo ul{
    list-style-type: none;
    display: inline;
}


.configuraciontexto{
    position: relative;
    color: #ffffff;
    font-family: clear sans;
    font-size: 13px;
    left: 1170px;
    bottom: 210px;
    font-weight: normal;
    font-family: crearsans;
}

.configuracionicono{
    background: url('../../icons/configuracion.svg') no-repeat;
    padding: 24px;
    position: relative;
    left: 1256px;
    bottom:240px;
    background-size: 20px;
}

.logOut{
    position: relative;
    left: 1280px;
    bottom: 315px;
    text-decoration: none;
    

}

logOuttexto{
 
    background: #5d9aff;
    font-family: clear sans;
    font-size: 13px;
    font-family: crearsans;
  
}
.nombreUsuario{
    position: relative;
    bottom: 330px;
    left: 1160px;
    width: 200px;
    height: 50px;
    font-family: crearsans;
   
}

.nombreUSuario1{
    font-size: 12px;
    color: #ffffff;
    font-family: crearsans;
}
h5{
    color: #5d9aff;
}

a{
    text-decoration: none;
    background: transparent;
}
@media (mas-width:1280px){
    .container{width:1200px ;}
    .recuadro{width: 1200px;}
}
